on:
  push:
  pull_request:
  workflow_dispatch:
permissions:
  contents: write
  
jobs:
  fmt:
    name: format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
          toolchain: nightly
      - run: cargo fmt --all
      - run: cd ftc-rust-proc && cargo fmt --all
      - name: Commit
        run: |
          git config --global user.name 'Rustfmt workflow'
          git config --global user.email 'aversefun@users.noreply.github.com'
          git commit -am "Automated format"
          git push
