on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  fmt:
    name: format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - run: cargo fmt --all
      - run: cd ftc-rust-proc && cargo fmt --all
